<aside>
  <div class="sidebar-profile">
    <img src="{{ '/assets/img/me.jpg' | relative_url }}" alt="Photo of Nathalie Karpati" class="profile-photo">
    <h3>Nathalie Karpati</h3>
    <p>Immigration Attorney</p>
    <p>Serving the Greater Washington DC area</p>
    <p>Likes: Succulents, fossils, cats, and justice for all.</p>
    <address>
      <strong>The Law Office of Nathalie Karpati</strong><br> 
      Silver Spring, MD<br>
      <a href="https://www.mdcourts.gov/attysearch#searchform">Maryland Attorney ID: 2019-0001</a><br>
      <a href="mailto:nathalie@karpatilaw.com">nathalie@karpatilaw.com</a><br>
      <a href="tel:+13013004971">(301) 300-4971</a><br>
    </address>
  </div>
</aside>
