<aside>
  <div class="sidebar-profile">
    <img src="{{ '/assets/img/me.jpg' | relative_url }}" alt="Foto de Nathalie Karpati" class="profile-photo">
    <h3>Nathalie Karpati</h3>
    <p>Abogada de inmigración</p>
    <p>Sirviendo al área metropolitana de Washington DC</p>
    <p>Le gustan: las suculentas, los fósiles, los gatos y la justicia para todos.</p>
    <address>
      <strong>La Oficina Legal de Nathalie Karpati</strong><br> 
      Washington, DC<br>
      <a href="https://www.mdcourts.gov/attysearch#searchform">Maryland Abogada ID: 2019-0001</a><br>
      <a href="mailto:nathalie@karpatilaw.com">nathalie@karpatilaw.com</a><br>
      <a href="tel:+13013004971">(301) 300-4971</a><br>
    </address>
  </div>
</aside>
