<!DOCTYPE html>
<html>

  {% include header.html %}

  <body>
    <div class="container">
      <header role="banner">
        <div class="wrap">
          {% if site.logourl != null %}
            <img class="logo" src="{{ site.baseurl }}{{ site.logourl }}" alt="{{ site.logoalt }}" width="75px">
          {% endif %}
          <h1 class="site-title"><a class="title-link" href="{{ site.baseurl }}/es/">{{ site.name }}</a></h1>
          <h6 class="site-subtitle"> {{ site.subtitle }} </h6>
            <div class="navbar">
              <ul>
                {% for link in site.navegacion %}
                <li>
                  {% if link.url contains 'http' %}
                    <!-- External link -->
                    <a href="{{ link.url }}">{{ link.text }}</a>
                  {% elsif link.url contains site.baseurl %}
                    <!-- Link already contains baseurl -->
                    <a href="{{ link.url }}">{{ link.text }}</a>
                  {% else %}
                    <!-- Internal link without baseurl -->
                    <a href="{{ site.baseurl }}{{ link.url }}">{{ link.text }}</a>
                  {% endif %}
                </li>
              {% endfor %}
              </ul> 
            </div>
            <img src="{{ site.baseurl }}/assets/img/flags_divider.png" alt="Flags" width="100%">
        </div>
      </header>

      <div class="wrap content"> 

        <section id="main" class="main-content-no-sidebar"role="main">
          {{ content }}
        </section>

      </div><!-- /.wrap content -->

      {% include glossary.html %}

      {% include footer.html %}

    </div> <!-- /.container -->
    </body>
    {% include scripts.html %}
</html>
